@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(33, 33, 33, 0.87);
  background-color: #fbfbfb;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-block: 1.5rem;
  font-weight: 600;
}
@media screen and (max-width: 560px) {
  h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    font-size: 1.3rem;
  }
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
@media screen and (max-width: 560px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 360px) {
  h2 {
    font-size: 1.1rem;
  }
}

button {
  max-width: 120px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  margin: 1rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #521ff9;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  transition: all 0.3s ease;
  will-change: transform;
}
button:hover {
  background-color: #111abe;
}
button:active {
  transform: scale(0.95);
}

#arrow-icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 4rem auto;
  cursor: pointer;
  animation: moveUpDown 2s infinite ease-out;
}
@media screen and (max-width: 560px) {
  #arrow-icon {
    display: none;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Position de départ */
  }
  50% {
    transform: translateY(-13px); /* Déplacement vers le haut */
  }
  100% {
    transform: translateY(0); /* Retour à la position initiale */
  }
}

.map-container {
  height: 60vh;
  width: 50%;
}

@media screen and (max-width: 986px) {
  .map-container {
    width: 100%;
    height: 50vh;
    padding: 1rem;
  }
}
